$color_1: rgb(70, 67, 67);
$color_2: #333;
$color_3: rgb(63, 62, 62);
$color_4: #f2f2f2;
$color_5: rgb(10, 10, 10);
$color_6: white;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: "Bebas Neue";
$font-family_3: Arial, Helvetica, sans-serif;
$background-color_1: rgb(10, 10, 10);
$background-color_2: #ddd;
$background-color_3: rgb(72, 86, 87);
$background-color_4: #04AA6D;
$background-color_5: #45a049;
$background-color_6: #f2f2f2;